.cards {
    width: 100%;
    background-color:rgb(250, 235, 215);
}
.section-card {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(255, 255, 255);
    margin-bottom: 10px;
}
.card-info {
    display: grid;
    gap: 15px;
    width: 100%;
}
.card-title {
    color: #000000;
    font-size: 35px;
}
.card-description{
    font-size: 20px;
    color: #8a2bb6;
    font-weight: 500;
}

@media (max-width : 624px) {

    .card-img {
        width: 150px;
    }
}

@media (max-width: 464px) {
    .card-img {
        display: none;
    }
    .section-card {
        display: block;
    }
}