.footer {
  width: 100%;
  padding: 15px;
  display: grid;
  gap: 15px;
}
.title-footer {
  padding: 10px;
  font-size: 18px;
}
.list-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.cont-icons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
}

.list-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: rgb(88, 88, 87);
  cursor: pointer;
}
.tags {
  display: flex;
  gap: 10px;
}
.icon-footer {
  transition: transform 0.5s;
}
.icon-footer:hover {
  transform: translateY(-10px);
  transition: transform 0.5s;
}
.title-copyright {
  text-align: center;
}
