.title-planes {
  color: #141313;
  padding: 25px 30px;
}
.section-cards {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f9f9f9,
    #f3f3f3,
    #ededed,
    #e7e7e7
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 10px;
  transition: all 0.5s ease;
  padding-bottom: 100px;
}
.plan {
  box-shadow: 0 0 8px #000;
  width: 310px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}
.recomendated {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.title-recomendated {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.icon-recomendated {
  width: 30px;
}
.title-card {
  text-align: center;
  font-size: 25px;
  color: #141313;
}
.prices {
  display: flex;
  font-size: 25px;
  align-items: center;
  gap: 10px;
}
.former-price {
  text-decoration: line-through;
  color: #838383;
}
.price-now {
  font-size: 30px;
  color: #04be04;
}
.list {
  list-style: none;
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.list-li {
  padding-bottom: 8px;
}
.buttons-planes {
  display: grid;
  gap: 14px;
}
.button {
  padding: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background: transparent;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}
.button:hover {
  font-weight: bold;
}

.activated {
  transform: translateY(-50px);
}

@media (max-width: 1028px) {
  .title-planes {
    font-size: 30px;
    padding: 10px;
  }
  .activated {
    transform: translateY(0);
  }
}
